*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #284b63;
}
h1{
    height: 5rem;
    background-color: #d9d9d9;
    line-height: 5rem;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.boxes{
    height: 70vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    
}
.box{
    height: 8rem;
    width: 8rem;
    border: 2px #22577a solid;
    border-radius: 1rem;
    font-size: 5rem;
    color: #22577a;
    background-color: #ffffff;
}
#reset-btn{
    padding: 1.7rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #d9d9d9;
    margin-top: 1rem;
}
.message{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#msg{
    height: 50px;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #ffffff;

}
#new-btn{
    padding: 1.7rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #ffffff;
    margin-top: 1rem;
}
.hide{
    display: none;
}
